body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('2XNB5EF-1550x804.jpg'); 
    background-size: cover;
    background-position: center;
    color: #ECDFCC; 
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #1E201E; 
    align-items: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

nav a {
    color: #ECDFCC; 
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: #3C3D37; 
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
    background-color: rgba(30, 32, 30, 0.8); 
}

.hero-section h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 400;
    max-width: 600px;
    line-height: 1.5;
    color: #ECDFCC;
}

.hero-section .cta-button {
    padding: 15px 40px;
    background-color: #3C3D37; 
    color: #ECDFCC; 
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-section .cta-button:hover {
    background-color: #5E6A67;
}

footer {
    background-color: #1E201E; 
    color: #ECDFCC; 
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #333;
}

footer a {
    color: #3C3D37;
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
}


nav a.cta-button {
    padding: 10px 25px;
    background-color: #3C3D37;
    color: #ECDFCC; 
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a.cta-button:hover {
    background-color: #5E6A67;
    transform: translateY(-3px);
}
